<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ForumSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css?v=@DateTime.Now.Millisecond" asp-append-version="true" />
    <link rel="stylesheet" href="~/ForumSite.styles.css?v=@DateTime.Now.Millisecond" asp-append-version="true" />
</head>
<body>
    <header class="head">
        <h2>@ViewBag.Title</h2>
    </header>
    <div>
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer")
        }
        else
        {
            <div class="container">
                &copy; 2023 - ForumSite - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        }
    </footer>
</body>
</html>
