@model LoginModel;
@{
    Layout = null;
}
@{
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/autorization.css?v=@DateTime.Now.Millisecond" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css?v=@DateTime.Now.Millisecond" asp-append-version="true" />
</head>
<body>
<main>
    <form method="post" asp-action="Autorization" class="pole">
    <fieldset>
        <h2 class="header">Авторизация</h2>
        <div class="main">
            <div class="login">
                <label>Введите логин или почту: </label>
                <input asp-for="@Model.Login" data-val="true" data-val-required="Логин не может быть пустым" class="input" placeholder="Enter login or email" name="Login" value="" />
                <span asp-validation-for="Login" data-valmsg-for="Login" data-valmsg-replace="true"></span>
            </div>

            <div class="password">
                <label>Введите пароль: </label>
                <input asp-for="@Model.Password" data-val="true" data-val-required="Пароль не может быть пустым" minlegnth="8" class="input" type="password" placeholder="Enter password" name="Password" value="" />
                <span class="errors_info" asp-validation-for="Password" data-valmsg-for="Password" data-valmsg-replace="true"></span>
            </div>
        </div>
        <div class="wrapper">
            <button type="submit" class="but">Войти</button>
        </div>
            <div class="reg">
            <a href="@Url.Action("Registration","Autorization")">Зарегестрироваться</a>
        </div>
    </fieldset>
    </form>
</main>
</body>
</html>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
}

@section Footer{
    <p>Copyright© Forum Site "About Everything", @DateTime.Now.Year. All rights reserved</p>
}

