<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="head">
        <h2>@ViewBag.Title</h2>
        <a class="c" href="/Home/ReturnIndex">Home</a> | <a class="c" href="/Home/About">About</a>
        @Html.ActionLink("Выйти", "exit", null, null, new { @class = "c exit"})
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
