<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/layout.css?v=@DateTime.Now.Millisecond" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="head">
        <h2>@ViewBag.Title</h2>
        <a class="c" href="/Home/ReturnIndex">Главная</a> | <a class="c" href="/Home/About">Справка</a>
        @Html.ActionLink("Выйти", "exit", null, null, new { @class = "c exit"})
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
