<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <div><a href="/Home/ReturnIndex">Home</a> | <a href="/Home/About">About</a></div>
    <div>@Html.ActionLink("Выйти", "exit", null, null)</div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
