@model FriendsModel
@{
    IEnumerable<User> users = Model.users;
    User currentUser = Model.currentUser;
}
<div>
    <p>Пользователи:</p><br/>
    @foreach(var user in users)
    {
        bool isFriend = user.FriendUsers.Any(f => f.FriendId == currentUser.IdUser) || user.FriendFriendNavigations.Any(f => f.UserId == currentUser.IdUser);

        <p>@user.Login (@user.Fio)
            @if (isFriend)
            {
                <span>В друзьях</span>
            }
        </p>
    }
</div>
