@model FriendsModel
@{
    IEnumerable<User> users = Model.users;
    User currentUser = Model.currentUser;
}
<div>
    @using (Html.BeginForm("FindUser", "Home", FormMethod.Post))
    {
        @Html.TextBox("loginUser", null, null, new { placeholder = "Введите логин"})

        <input type="submit" value="Найти" />
    }

    <p>Пользователи:</p>
    @foreach(var user in users)
    {
        bool isFriend = user.FriendUsers.Any(f => f.FriendId == currentUser.IdUser) || user.FriendFriendNavigations.Any(f => f.UserId == currentUser.IdUser);

        <p>
            <a asp-action="Profile" asp-route-login="@user.Login">@user.Login</a> (@user.Fio)
            @if (isFriend)
            {
                <span>В друзьях</span>
            }
        </p>
    }
</div>
