@model MainModel
@{
    ViewData["Title"] = "Forum \"About Everything\"";
    Layout = "_Layout";

    User user = Model.user;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/index.css"/>
</head>
<body>
    <main>
    <h2 class="hello">Hello @user.Login</h2>

    <div class="nav">
        <a asp-action="CreateTopic">Создать тему</a>
        <a asp-action="Friends">Добавить друзей</a>
        <a asp-action="YourProfile" asp class="your_profile">Ваш профиль</a>
    </div>

    

    @{
        await Html.RenderPartialAsync("Topics", Model.topics);
    }
    </main>
</body>
</html>