@model ProfileModel;
@{
    ViewData["Title"] = "Forum \"About Everything\"";
    User user = Model.user;
}
@{
<head>
    <link rel="stylesheet" href="~/css/profile.css"/>
</head>
<main>
    @if (user.Block)
    {
        await Html.RenderPartialAsync("BlockProfile", Model);
    }
    else if (Model.isAdmin)
    {
        await Html.RenderPartialAsync("AdminProfile", Model);
    }
    else
    {
        await Html.RenderPartialAsync("NoAdminProfile", Model);
    }
</main>
}