@model ProfileModel;
@{
    User user = Model.user;
}
@{
    <main>
        @if (user.Block)
        {
            await Html.RenderPartialAsync("BlockProfile", Model);
        }
        else if (Model.isAdmin)
        {
            await Html.RenderPartialAsync("AdminProfile", Model);
        }
        else
        {
            await Html.RenderPartialAsync("NoAdminProfile", Model);
        }
    </main>
}