@model ProfileModel;
@{

}
@{
    <main>
        @if (Model.isAdmin)
        {
            await Html.RenderPartialAsync("AdminProfile", Model);
        }
        else
        {
            await Html.RenderPartialAsync("NoAdminProfile", Model);
        }
    </main>
}