@model IEnumerable<TopicDiscussion>
@{
    IEnumerable<TopicDiscussion> topics = Model;
}
<div>
    <div>
        @using (Html.BeginForm("FindTopic", "Home", FormMethod.Post))
        {
            @Html.TextBox("nameTopic", null, null, new { placeholder = "Введите название темы"})

            <input type="submit" value="Найти"/>
        }
    </div>
    @foreach (TopicDiscussion topic in topics)
    {
        <div>
            <p>@Html.ActionLink(topic.Name, "Topic", new {id = topic.IdTopic}, null) by @topic.User.Login</p>
            <p>@topic.Description</p>
        </div>
    }
</div>

