body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.header{
    text-align:center;
    margin-top: 0;
}

.pole {
    font-size: 14pt;
    font-weight: bold;
}

fieldset {
    border: solid blue;
    padding: 1em 2em;
    background: #bcbbedfd;
}

.main {
    width: auto;
    display: table;
    border-spacing: 20px;
}

    .main > div > input {
        padding: 8px;
        border-radius: 10px;
        border: none;
        background: #e8eee3;
        margin-top: 1px;
    }

    .main > div > span {
        color: red;
        font-size: 10pt;
        display: block;
        text-align: center;
    }



.login {
    display: table-row;
    padding-top: 10px;
}

.password {
    display: table-row;
    margin-bottom: 5px;
}

label {
    display: inline-block;
    width: 12em;
    margin-right: 1em;
}

.password label {
    text-align: end;
}

.wrapper {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.but {
    display: inline-block;
    background: #3431c4d4;
    border: none;
    border-radius: 8px;
    font-size: 14pt;
    padding: 6px 12px;
}

    .but:hover {
        background: #e9e9f5fd;
        box-shadow: 1px 2px 5px #e9e9f5fd;
    }

.reg {
    text-align: center;
    margin-top: 4vh;
}

    .reg a {
        display: inline-block;
        color: #3431c4d4;
    }

        .reg a:hover {
            color: #c43131d4;
        }

.errors_info{
    font-size: 10pt;
    font-weight: bold;
    margin-top: 2vh;
}
