main {
    padding: 0 5%;
}

.hello{
    margin-top: 0;
}

.nav {
    display: block;
    position: relative;
    width: 100%;
    font-size: 1.2rem;
}

    .nav a {
        display: inline-block;
        color: #3431c4d4;
        margin-right: 2vw;
        text-decoration: none;
        text-align: center;
    }

        .nav a:hover {
            color: #a00;
        }

.your_profile {
    position: absolute;
    right: 0vw;
}

.container_main{
    display: inline;
}

.container_topics{
    width: 80%;
    display: inline-block;
}


.container_friends{
    width: 24%;
    position: absolute;
    margin-top: 10vh;
    left: 75%;
    display: inline-block;
    border: 2px solid blue;
}

.container_friend {
    display: flex;
    flex-direction: row;
    grid-gap: 5px;
    margin-bottom: 2vh;
    align-items: center;
    padding: 5px;
}

    .container_friend span {
        font-size: 10pt;
        border-radius: 5px;
        padding: 5px;
        background: #6d77d9;
        color: #f1e1e1;
    }

.bnt_cancel {
    border: none;
    background: transparent;
    height: 20px;
}

.img_cancel {
    border: none;
    width: 20px;
    height: 20px;
}

    .img_cancel:hover {
        border: 1px solid #dc6363;
        cursor: pointer;
    }

.img_confirm {
    border: none;
    width: 18px;
    height: 18px;
}

    .img_confirm:hover {
        border: 1px solid #47dd30;
        cursor: pointer;
    }