body {
    margin: 0;
}

.head {
    background: linear-gradient(to bottom, #224fbf, #290fd175);
    padding: 0;
    padding-top: 3vh;
    padding-right: 2vw;
    padding-left: 2vw;
    height: 10vh;
    position: relative;
    margin-bottom: 2vh;
}

.head h2 {
    margin: 0;
    margin-right: 5vw;
    display: inline;
}

.c {
    display: inline-block;
    padding: 5px 15px; /* Поля */
    text-decoration: none; /* Убираем подчёркивание */
    color: #000; /* Цвет текста */
}

    .c:hover {
        box-shadow: 0 0 5px rgba(0,0,0,0.3); /* Тень */
        background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
        color: #a00;
    }

.exit {
    position: absolute;
    right: 2vw;
}
