main{
    margin: 0 3vw;
}

.main_div {
    border-bottom: solid 3px blue;
}

.profile {
}

.div_login {
    display: inline-flex;
    align-items: center;
    height: auto;
    margin-top: 1rem;
}
.login {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}
.div_login form {
    display: inline;
    margin-left: 2px;
}
.btn_block{
    border: none;
    color: red;
    font-size: 12pt;
    font-style: italic;
    background: transparent;
}
.btn_block:hover {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.fio {
    padding: 0;
    margin-top: 0;
}

.about_friend {
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    margin-bottom: 2vh;
    align-items: center;
}
    .about_friend span {
        font-size: 12pt;
        border-radius: 5px;
        padding: 5px;
        background: #6d77d9;
        color: #f1e1e1;
    }
.bnt_cancel {
    border: none;
    background: transparent;
    height: 20px;
}
.img_cancel{
    border:none;
    width: 20px;
    height: 20px;
}
    .img_cancel:hover {
        border: 1px solid #dc6363;
        cursor: pointer;
    }

.img_confirm {
    border: none;
    width: 18px;
    height: 18px;
}

.img_confirm:hover {
    border: 1px solid #47dd30;
    cursor: pointer;
}

.in_friend {
    color: #0a0882;
}

.inp_friend {
    background: #9a99cbd4;
    color: #0a0882;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
}

.inp_delete_friend:hover {
    color: #a00;
    border: solid 1px #a00;
    cursor: pointer;
}

.inp_add_friend:hover {
    border: solid 1px #0a0882;
    margin-bottom: 2vh;
    cursor: pointer;
}

.friends_label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1vh;
    margin-top: 1vh
}

.friend {
    font-size: 1.1rem;
    width: auto;
}

    .friend:hover {
        color: #0a0882;
        font-style: italic;
    }

.about_count {
    font-size: 1.1rem;
}

    .about_count span {
        font-weight: bold;
    }

.about_topics {
    
}

    .about_topics li {
        margin: 1vh 0 0 0;
        list-style-type: none;
    }

    .about_topics ul {
        margin-top: 0;
        list-style-type: none;
    }

.about_topics_label {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: bold;
}
